.home-container {
  // background-color: rgba(#379200, 30%);
  flex-grow: 1;
  padding: 1rem;
  //   margin-left: 12rem;
  //   margin-top: 3rem;
  display: grid;
  //   min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, repeat(3, 1fr));
    padding: 0.5rem;
    column-gap: 0.5rem;
  }
  row-gap: 1rem;
  column-gap: 1rem;
  justify-items: center;
  align-content: flex-start;

  .latest-Game {
    position: relative;
    // background-image: url(../../assets/img/Harvic.jpg);
    // background-size: cover;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    .lg-img {
      width: 100%;
      border-radius: 10px;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-self: stretch;
      justify-content: center;
      position: absolute;
      bottom: 5%;
      left: 10%;
    }

    border-radius: 10px;
    // width: 100vw;
    color: #fff;
    // padding: 1rem;
    // height: 40vh;
    *:not(:last-child) {
      padding-bottom: 0.5rem;
    }
    h2,
    h3 {
      padding: 0;
      margin: 0;
    }
    .btn {
      display: inline-flex;
      align-self: flex-start;
      justify-self: flex-start;
    }
    .classification {
      grid-column: 1/-1;
      justify-self: baseline;
    }
  }
  .swiper {
    width: 100%;
    grid-column: 1/-1;

    &-class {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrow-right {
        font-size: 1.5rem;
      }
    }
  }
  .recommended-Game {
    position: relative;
    // background-image: url(../../assets/img/Harvic.jpg);
    // background-size: cover;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    .lg-img {
      width: 100%;
      border-radius: 10px;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-self: stretch;
      justify-content: center;
      position: absolute;
      bottom: 5%;
      left: 10%;
    }

    border-radius: 10px;
    // width: 100vw;
    color: #fff;
    // padding: 1rem;
    // height: 40vh;
    *:not(:last-child) {
      padding-bottom: 0.5rem;
    }
    h2,
    h3 {
      padding: 0;
      margin: 0;
    }
    .btn {
      display: inline-flex;
      align-self: flex-start;
      justify-self: flex-start;
    }
  }
  .classification {
    grid-column: 1/-1;
    justify-self: baseline;
  }
}
