.home-container {
  position: relative;
  background-color: none;
  flex-grow: 1;
  // padding: 1rem;
  //   margin-left: 12rem;
  //   margin-top: 3rem;
  display: grid;
  //   min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
  justify-items: center;
  align-content: flex-start;
  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }
  .section {
    grid-column: 1/-1;
    padding: 1rem;
    background-color: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    background-image: url("https://i.ibb.co/vJQgLkF/shop-headsets-grid-900x900.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
  .swiper {
    width: 100%;
    grid-column: 1/-1;
    @media only screen and (min-width: 600px) {
      display: none;
    }
    &-class {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrow-right {
        font-size: 1.5rem;
      }
    }
  }
  .classification {
    grid-column: 1/-1;
  }
}
