.banner {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  .lg-img {
    width: 100vw;
    height: 30rem;
    @media only screen and (max-width: 600px) {
      height: 20rem;
    }
  }
  .tag {
    background-color: rgba(3, 3, 3, 0.26);
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    top: 2%;
    left: 5%;
    color: crimson;
    .star {
      color: gold;
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 10%;
  }
  *:not(:last-child) {
    padding-bottom: 1rem;
  }
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }
  .btn {
    display: inline-flex;
    align-self: flex-end;
    justify-self: flex-end;
  }
  .classification {
    grid-column: 1/-1;
    justify-self: baseline;
  }
}
