.latest-Game {
  position: relative;
  // background-image: url(../../assets/img/Harvic.jpg);
  // background-size: cover;

  @media only screen and (max-width: 600px) {
    grid-column: 1 / -1;
  }
  display: flex;
  justify-content: center;
  .lg-img {
    width: 100%;
    border-radius: 10px;
    height: 30rem;
    @media only screen and (max-width: 600px) {
      height: 25rem;
    }
  }
  .tag {
    background-color: rgba(3, 3, 3, 0.26);
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    top: 2%;
    right: 5%;

    .star {
      color: gold;
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 10%;
  }

  border-radius: 10px;
  // width: 100vw;
  color: #fff;
  // padding: 1rem;
  // height: 40vh;
  *:not(:last-child) {
    padding-bottom: 0.5rem;
  }
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }
  .btn {
    display: inline-flex;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .classification {
    grid-column: 1/-1;
    justify-self: baseline;
  }
}
