.SignInFormContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/auth-bg1.png);
  background-size: cover;
  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    *:first-child {
      margin-right: 0.5em;
    }
  }
  .signInForm {
    width: 50%;
    @media only screen and (max-width: 600px) {
      width: 80%;
    }
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.53);
    .title {
      align-self: center;
    }
    .label {
      //   display: inline-flex;
      //   color: #fff;
      font-size: 1.5rem;
    }
    .input {
      //   display: block;
      width: 90%;
      padding: 0.5rem;
    }
  }
}
