.SignUpFormContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/auth-bg2.jpg);
  background-size: cover;
  .signUpForm {
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.53);
    .label {
      //   display: inline-flex;
      //   color: #fff;
      font-size: 1.5rem;
    }
    .input {
      //   display: block;
      width: 80%;
      padding: 0.5rem;
    }
  }
}
